.menu {
  width: 4rem;
  height: 4rem;
  // border-radius: 0.5rem;
  border: none;

  background-color: var(--white);
  position: relative;
  overflow: hidden;

  &__inner,
  &__inner::before,
  &__inner::after {
    display: block;
    height: 0.25rem;
    border-radius: 0.2rem;
    background-color: var(--light-grey);
    position: absolute;
    transition: all 0.3s ease-in-out;
  }

  &__inner {
    width: 70%;
    left: 15%;
    transform: translateY(-50%);
  }

  &__inner::before,
  &__inner::after {
    content: "";
    left: 0;
    width: 100%;
  }

  &__inner::before {
    top: -0.75rem;
  }

  &__inner::after {
    top: 0.75rem;
  }

  &.active &__inner {
    transform: translate(-5rem, -50%);
  }

  &.active &__inner::before,
  &.active &__inner::after {
    transform: translateX(5rem);
  }

  &.active &__inner::before {
    top: 0rem;
    transform: translateX(5rem) rotate(135deg);
  }

  &.active &__inner::after {
    top: 0;

    transform: translateX(5rem) rotate(-135deg);
  }

  @media screen and (min-width: 720px) {
    display: none;
  }
}

button {
  &.cta {
    border: none;
    text-transform: uppercase;
    background: pink;
    transition: all 0.5s;

    a &:hover {
      background: var(--primary-color);
      transform: scale(1.2) translate(0, 0.5rem);

      // .cta__inner::after {
      //   // transform: rotate(360deg) scale(1.2);
      //   transform: scale(2) rotate(360deg);
      //   color: black;
      // }
    }

    // .cta__inner {
    //   &::after {
    //     content: "\00a0 >";
    //     display: inline-block;
    //     color: var(--primary-color);
    //     transition: all 1s;
    //   }
    // }
  }
}
