.form {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  border: 1px solid var(--light-grey);
  padding: 2em;

  .form-group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;

    &:last-child:first-child {
      //   background: red;
      border: 1px solid red;
    }

    label {
      text-transform: uppercase;
    }

    input,
    textarea {
      border: none;
      border-bottom: 1px solid var(--light-grey);
      height: 2rem;
      width: 100%;
      transition: height 1s;
      &:focus {
        // background-color: pink;
        border: none;
      }
    }

    textarea:focus {
      height: 10rem;
    }

    &:focus-within:not(:last-child) {
      //   transform: scale(1.1);
      //   opacity: 1;
      color: black;
    }
  }
  &:focus-within {
    // transform: scale(1.1);
    // background: var(--light-grey);
    // opacity: 0.2;
    color: grey;
  }
}
