footer.footer
    //- section:article.form-container
    //-     form(action="/" class="form")
    //-         div.form-group
    //-             label(for="name") Name
    //-             input#name(type="text" name="name" required)
            

    //-         div.form-group
    //-             label(for="email") Email
    //-             input#email(type="email" name="email" required)
 
    //-         div.form-group
    //-             label(for="message") Messsage
    //-             textarea#message(name="message" cols="30" rows="10" required)
  
    //-         div.form-group
    //-           label(for="submit")
    //-           div: input#message-submit(type="submit" value="Send Message")

    //-     article: div.social instagram Instagram Feed will go here
      

    section
        nav.nav(aria-label="secondary navigation")
            ul.nav__secondary
                each val in ["FAQ","Privacy","Contact"]
                    li.nav__item: a(href="#" class="nav__link")= `${val}`

        article: div.social
            <i class="fab fa-instagram fa-2x"></i>
            <i class="fab fa-facebook fa-2x"></i>
            <i class="fab fa-twitter fa-2x"></i>
            <i class="fab fa-linkedin fa-2x"></i>