doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="/assets/css/main.css")
        link(rel="stylesheet", href="/assets/scss/style.css")
        script(defer="true" src="/assets/js/main.js")
        script(src="https://kit.fontawesome.com/11cec108a9.js" crossorigin="anonymous")
        title Node Express Boilerplate 
    body
        header(id="hotelmap_hotels_page" class="header")
            // LOGO
            figure#logo.logo
                picture
                    source(media="(min-width: 720px)" srcset="./assets/images/logo-desktop.svg")
                    img(src="./assets/images/logo-mobile.svg" alt="" srcset="")

            // NAVIGATION
            nav.desktop
                ul.nav__primary: each val in ["home","shop","contact"]
                    li.nav__item: a.nav__link(href=`/${val}`) #{val}

            nav.mobile.hidden
                ul.nav__primary: each val in ["Home","Shop","Contact"]
                    li.nav__item: a.nav__link #{val}

            // MENU
            button.menu: span.menu__inner

            //- https://alligator.io/html/exploring-pug-to-write-html/
