header {
  // position: fixed;
  // z-index: 100;
  // top: 0;
  // left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  // align-items: center;
  // padding-top: 2rem;
  border-bottom: 1px solid var(--light-grey);
  padding: 1rem 2.5rem 1rem 1rem;

  &.stickyHeader {
    position: fixed;
    z-index: 100;
    top: -100px;
    left: 0;
    transform: translateY(100px);
    transition: transform 0.5s;
    // background-color: pink;
  }

  nav {
    display: block;
    height: 100%;

    &.desktop {
      display: none;
      @media screen and (min-width: 720px) {
        display: block;
      }
    }

    &.mobile {
      display: flex;
      @media screen and (min-width: 720px) {
        display: none;
      }
      &.hidden {
        display: none;
      }
    }
  }

  &.active {
    height: 100%;
    align-items: flex-start;
    // padding-top: 1rem;
  }

  .logo {
    width: var(--logo-width);

    @media screen and (min-width: 720px) {
      width: calc(var(--logo-width) * 5);
    }
  }
}
