extends includes/layout.pug

block content 


    main.dashboard

        .logo
            img(src="/assets/images/zeiss-youandeye-awards-2022-logo-400x200px.jpg", alt="", srcset="")

        .buttons
            button(onclick="location.href=`/admin/retail-chains`") Retail Chains
            button(onclick="location.href=`/admin/metro`") Metro
            button(onclick="location.href=`/admin/non-metro`") Non Metro

