extends includes/layout.pug

block content 


    main.dashboard

        .logo
            img(src="/assets/images/zeiss-youandeye-awards-2022-logo-400x200px.jpg", alt="", srcset="")

        //- form(class="update-all-opticians") 
        //-     button(type="submit" class="cta") Update All Opticians On Server