section#slider.slider
    each val,index in ["photography","technology","content"]
        article.slide(data-slide=`0${index+1}`): div(class=`${val}`)

    span.prev.material-icons chevron_left
    span.next.material-icons chevron_right
        