/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
picture {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --primary-color: hsla(10, 100%, 50%, 1);
  --secondary-color: hsla(20, 100%, 50%, 1);
  --accent-color: hsla(30, 100%, 50%, 1);
  --white: hsla(1, 100%, 100%, 1);
  --light-grey: hsla(1, 100%, 0%, 0.2);
  --font-family: Courier, sans-serif;
  --font-family: "Lato", sans-serif;
  --heading: 20px "Lato", sans-serif;
  --font-size: 16px;
  --header-height: 6rem;
  --mobile-breakpoint: 720px;
  --logo-width: calc(var(--header-height) - 1rem);
  --menu-width: calc((var(--header-height) - 1rem));
}

html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

img {
  max-width: 100%;
  height: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

button {
  font-size: 0.8rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5em;
}

input,
textarea {
  outline: none;
  resize: none;
}

.hidden {
  display: none;
}

.invisible {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.visible {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.heading {
  font: 20px Courier, sans-serif;
  color: var(--white);
}

figure {
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5em;
  background-color: var(--secondary-color);
}

main.main {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 2rem;
}

main.main h1 {
  font-size: 2rem;
  line-height: 2rem;
}

main.main p {
  font-size: 1.3rem;
  line-height: 3rem;
}

main.dashboard {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 40vh 60vh;
      grid-template-rows: 40vh 60vh;
}

main.dashboard .logo {
  padding: 1rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

main.dashboard .logo img {
  width: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
  display: block;
}

main.dashboard .buttons {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 50rem) {
  main.dashboard .buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  row-gap: 2rem;
  padding: 1rem;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  background: white;
  border: 1px solid gray;
  text-align: center;
}

.card h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.card h4 {
  font-size: 0.9rem;
}

.card p {
  font-size: 1.2rem;
  color: gray;
  line-height: 2;
}

.card__logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  overflow: hidden;
  height: 100%;
  border-bottom: 1px solid gray;
  aspect-ratio: 2/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__logo img {
  -o-object-fit: contain;
     object-fit: contain;
}

.card__title {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__rating {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.card__rating-total {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
}

.card__rating > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem;
}

.card__rating > *:not(:first-child) {
  border: 1px solid gray;
}

.card__profile {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.card__profile > * {
  padding: 1rem;
}

.card__profile p {
  font-size: 1rem;
  color: gray;
  line-height: 2;
}

.card__profile > *:not(:last-child) {
  border-bottom: 1px solid gray;
}
/*# sourceMappingURL=style.css.map */