section#grid-hero.grid-hero
    figure 
        picture: img(src="https://unsplash.it/600/400" alt="" srcset="")
        figcaption Some text about the image
    article
        h2.heading This is the title
        p And this is some explanation
        a
            button.cta
                span.cta__inner Know More

section#flex-hero.flex-hero
    article
        h2.heading This is the title
        p And this is some explanation
        a
            button.cta
                span.cta__inner Know More
    figure 
        picture: img(src="https://unsplash.it/600/400" alt="" srcset="")
        figcaption Some text about the image